* {
  box-sizing: border-box;
}

:root {
  --color-background: #f0f0f0;
  --color-text: #1a1a1a;
  --color-primary: #777777;
  --color-accent: #008080;
}

body {
  font-family: 'JetBrains Mono', monospace;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3 {
  color: var(--color-primary);
}
h1 {
  font-size: clamp(30px, 4vw, 36px);
}

h1:hover {
  color: var(--color-accent);
  transition: color 0.8s ease-in-out;
}

section {
  scroll-margin-top: 80px;
}
